<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/lim/Desktop/TestNG-Homework/src/test/java/tests/HowItWorksTest.java"><classes><class name="tests.HowItWorksTest"><methods><include name="getPageTitle"/></methods></class></classes></test></suite>